<template>
  <div id="content">
    <h1>Blog</h1>
    <div class="post" v-for="post in posts.slice((this.page.firstPost - 1), this.page.lastPost)" :key="post.id">
      <img :src="post.thumbnail" :alt="post.name" :key="post.thumbnail">
      <router-link :to="{name: 'SinglePost', params: {id: post.id}}" class="post-heading"><h2>{{post.name |
        limitTitle}}</h2>
      </router-link>
      <article>
        <p>{{post.content | limitBody}}</p>
      </article>
      <router-link :to="{name: 'SinglePost', params: {id: post.id}}" class="readmore">Read More</router-link>
    </div>
    <div class="uk-text-center">
      <ul class="uk-pagination uk-flex-center" uk-margin>
        <li><a href="#" @click.prevent="--page.number"><span uk-pagination-previous></span></a></li>
        <li v-for="pageNumber in page.last" :key="pageNumber" :class="{ 'uk-active': page.number === pageNumber}"
            v-if="pageNumber === page.first || pageNumber === page.last || (pageNumber >= page.number - 2 && pageNumber <= page.number + 2)">
          <a href="#" @click.prevent="goToPage(pageNumber)">{{pageNumber}}</a>
        </li>
        <li
          v-else-if="(page.number >= page.first + 4 && pageNumber === page.first + 1) || (page.number <= page.last - 4 && pageNumber === page.last - 1)"
          class="uk-disabled"><span>...</span></li>
        <li><a href="#" @click.prevent="++page.number"><span uk-pagination-next></span></a></li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Blog',
  data () {
    return {
      posts: [],
      page: {
        first: 1,
        last: 1,
        number: 1,
        firstPost: 1,
        lastPost: 10
      }
    }
  },
  watch: {
    'page.number': function (newPageNumber, oldPageNumber) {
      if (newPageNumber >= this.page.first && newPageNumber <= this.page.last) {
        this.page.firstPost = (this.page.number * 10) - 9
        this.page.lastPost = this.page.number * 10
      } else {
        console.error(`Page not found!`)
        this.page.number = oldPageNumber
      }
    },
    'posts': function () {
      this.page.last = Math.ceil(this.posts.length / 10)
    }
  },
  methods: {
    getPosts: function () {
      axios.get('https://jsonplaceholder.typicode.com/posts').then((response) => {
        for (let fakePost of response.data) {
          this.posts.push({
            id: fakePost.id,
            name: fakePost.title,
            content: fakePost.body,
            thumbnail: `https://picsum.photos/900/400/?image=${fakePost.id}`
          })
        }
      })
    },
    goToPage: function (pageNumber) {
      this.page.number = pageNumber
    }
  },
  filters: {
    limitTitle: function (value) {
      if (value.length <= 30) {
        return value
      }
      return value.slice(0, 30) + '...'
    },
    limitBody: function (value) {
      if (value.length <= 256) {
        return value
      }
      return value.slice(0, 256) + '...'
    }
  },
  created () {
    this.getPosts()
  }
}
</script>

<style scoped>
  .post {
    margin: 0 0 80px 0;
  }

  .post > img {
    border-radius: 13px;
    height: auto;
    width: 100%;
  }

  .post-heading:hover {
    text-decoration: none;
  }

  .post-heading > h2 {
    margin: 5px 0;
  }

  .readmore {
    background: linear-gradient(45deg, #322a7c, #3926a0) no-repeat;
    padding: 5px;
    color: #F1F1F1;
    border-radius: 3px;
    float: right;
  }

  .readmore:hover {
    text-decoration: none;
  }
</style>
