<template>
  <div>
    <div id="content">
      <h1>Contact me</h1>
      <ul uk-switcher uk-tab>
        <li><a href="#">Send a Message</a></li>
        <li><a href="#">Contact Info</a></li>
      </ul>

      <ul class="uk-switcher uk-margin">
        <li>
          <div>
            <form action="#" @submit.prevent="sendMessage" v-if="!form.sent">
              <fieldset class="uk-fieldset">
                <h2>Send a Message</h2>
                <div class="uk-margin"><label for="name" class="uk-form-label">Name:</label>
                  <input class="uk-input" type="text" id="name" placeholder="John Doe" v-model="form.name"></div>

                <div class="uk-margin"><label for="email" class="uk-form-label">Email:</label>
                  <input class="uk-input" type="email" id="email" placeholder="JohnDoe@Example.com"
                         v-model="form.email">
                </div>

                <div class="uk-margin"><label for="telephone" class="uk-form-label">Telephone:</label>
                  <input class="uk-input" type="tel" id="telephone" placeholder="+98 903 958 9169"
                         v-model="form.telephone">
                </div>

                <div class="uk-margin"><label for="subject" class="uk-form-label">Subject:</label>
                  <input class="uk-input" type="text" id="subject" placeholder="Lorem Ipsum" v-model="form.subject">
                </div>

                <div class="uk-margin"><label for="message" class="uk-form-label">Message:</label>
                  <textarea class="uk-textarea" name="message" id="message" cols="30" rows="10"
                            placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                            v-model="form.message"></textarea></div>

                <div class="uk-text-center">
                  <div class="uk-button-group">
                    <input type="submit" class="uk-button uk-button-primary" value="Send">
                    <input type="reset" class="uk-button uk-button-danger" value="Clear">
                  </div>
                </div>
              </fieldset>
            </form>
            <div class="uk-text-center uk-alert uk-alert-success" v-else>Your message sent successfully!</div>

          </div>
        </li>
        <li>
          <div>
            <h2>My Contact Info!</h2>
            <ul class="fa-ul">
              <li><span class="fa-li"><font-awesome-icon :icon="['fa', 'at']" size="1x"/></span>My email: {{contactInfo.email}}</li>
              <li><span class="fa-li"><font-awesome-icon :icon="['fa', 'phone']" size="1x"/></span>My telephone: {{contactInfo.telephone}}</li>
            </ul>
            <h2>Other useful URLs</h2>
            <ul id="social" class="fa-ul">
              <li>
                <a :href="contactInfo.gitlab.url">
                  <span class="fa-li"><font-awesome-icon :icon="['fab', 'gitlab']" size="1x"/></span>
                  {{contactInfo.gitlab.label}}
                </a>
              </li>
              <li>
                <a :href="contactInfo.github.url">
                  <span class="fa-li"><font-awesome-icon :icon="['fab', 'github']" size="1x"/></span>
                  {{contactInfo.github.label}}
                </a>
              </li>
              <li>
                <a :href="contactInfo.stackoverflow.url">
                  <span class="fa-li"><font-awesome-icon :icon="['fab', 'stack-overflow']" size="1x"/></span>
                  {{contactInfo.stackoverflow.label}}
                </a>
              </li>
              <li >
                <a :href="contactInfo.linkedin.url">
                  <span class="fa-li"><font-awesome-icon :icon="['fab', 'linkedin']" size="1x"/></span>
                  {{contactInfo.linkedin.label}}
                </a>
              </li>
              <li>
                <a :href="contactInfo.instagram.url">
                  <span class="fa-li"><font-awesome-icon :icon="['fab', 'instagram']" size="1x"/></span>
                  {{contactInfo.instagram.label}}
                </a>
              </li>
              <li>
                <a :href="contactInfo.telegram.url">
                  <span class="fa-li"><font-awesome-icon :icon="['fab', 'telegram']" size="1x"/></span>
                  {{contactInfo.telegram.label}}
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contact',
  data () {
    return {
      form: {
        name: '',
        email: '',
        telephone: '',
        subject: '',
        message: '',
        sent: false
      },
      contactInfo: {
        email: '',
        telephone: '',
        instagram: {
          url: '',
          label: ''
        },
        telegram: {
          url: '',
          label: ''
        },
        gitlab: {
          url: '',
          label: ''
        },
        github: {
          url: '',
          label: ''
        },
        stackoverflow: {
          url: '',
          label: ''
        },
        linkedin: {
          url: '',
          label: ''
        }
      }
    }
  },
  methods: {
    sendMessage: function () {
      console.log(`
      Name: ${this.form.name}
      Email: ${this.form.email}
      Telephone: ${this.form.telephone}
      Subject: ${this.form.subject}
      Message: ${this.form.message}
      `)
      this.form.sent = true
    },
    loadContactInfo: function () {
      this.contactInfo.email = 'Alireza' + '.' + 'darksun' + '@' + 'gm' + 'ail' + '.' + 'com'
      this.contactInfo.telephone = '+98 903 958 9169'
      this.contactInfo.instagram.url = 'https://instagram.com/DarkSuniuM'
      this.contactInfo.instagram.label = 'DarkSuniuM'
      this.contactInfo.telegram.url = 'https://t.me/DarkSun'
      this.contactInfo.telegram.label = 'DarkSun'
      this.contactInfo.gitlab.url = 'https://gitlab.com/DarkSuniuM'
      this.contactInfo.gitlab.label = 'DarkSuniuM'
      this.contactInfo.github.url = 'https://github.com/DarkSuniuM'
      this.contactInfo.github.label = 'DarkSuniuM'
      this.contactInfo.stackoverflow.url = 'https://stackoverflow.com/users/5616565/darksunium'
      this.contactInfo.stackoverflow.label = 'Alireza Ayinmehr'
      this.contactInfo.linkedin.url = 'https://www.linkedin.com/in/darksunium/'
      this.contactInfo.linkedin.label = 'DarkSuniuM'
    }
  },
  created () {
    this.loadContactInfo()
  }
}
</script>

<style scoped>

</style>
