<template>
  <div>
    <img class="img-top" src="@/assets/IMG_8934.jpg" alt="">
    <div id="content">
      <h1>Alireza Ayinmehr</h1>
      <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dicta distinctio enim laborum magni
        minima quae. Aliquid consequatur corporis cum, fugiat laboriosam molestiae nobis obcaecati officiis quaerat
        quam, quia quis!
      </article>
      <h2>Skills</h2>
      <ul class="skills">
        <li v-for="skill in skills" :key="skill.name">
          {{ skill.name }}
          <progress class="uk-progress" :value="skill.value" max="10"></progress>
        </li>
      </ul>
      <h2>Latest Projects</h2>
      <div class="uk-child-width-1-3 uk-text-center" uk-grid>
        <div><img src="https://picsum.photos/200/200/?random" alt="" class="project-thumb"></div>
        <div><img src="https://picsum.photos/200/200/?random" alt="" class="project-thumb"></div>
        <div><img src="https://picsum.photos/200/200/?random" alt="" class="project-thumb"></div>
      </div>
      <h2>Reach me at</h2>
      <div class="uk-text-center uk-child-width-1-5" uk-grid>
        <div><a href="">
          <font-awesome-icon :icon="['fab', 'instagram']" size="2x"/>
        </a></div>
        <div><a href="">
          <font-awesome-icon :icon="['fab', 'telegram']" size="2x"/>
        </a></div>
        <div><a href="">
          <font-awesome-icon :icon="['fab', 'linkedin']" size="2x"/>
        </a></div>
        <div><a href="">
          <font-awesome-icon :icon="['fab', 'stack-overflow']" size="2x"/>
        </a></div>
        <div><a href="">
          <font-awesome-icon :icon="['fab', 'gitlab']" size="2x"/>
        </a></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      skills: [
        {name: 'Python', value: '9'},
        {name: 'JavaScript', value: '6'},
        {name: 'CSS', value: '7'},
        {name: 'HTML', value: '8'}
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .skills progress {
    margin-top: 5px;
  }
</style>
