<template>
  <div id="content">
    <h1>Projects</h1>
    <div class="uk-text-center uk-margin-top">
      <div class="uk-child-width-1-1 uk-child-width-1-3@s" uk-grid>
        <div v-for="project in projects" :key="project.id">
          <router-link :to="{name: 'Project', params: {id: project.id}}"><img :src="project.thumbnail" :alt="project.name" class="project-thumb"></router-link>
          <div class="uk-margin-small-top">
            <router-link :to="{name: 'Project', params: {id: project.id}}"><strong>{{project.name}}</strong></router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Projects',
  data () {
    return {
      projects: []
    }
  },
  methods: {
    loadProjects: function () {
      for (let i = 0; i <= 10; i++) {
        this.projects.push({id: i, name: `Project #${i}`, thumbnail: `https://picsum.photos/200/200/?image=${Math.floor(Math.random() * 100)}`})
      }
    }
  },
  created () {
    this.loadProjects()
  }
}
</script>

<style scoped>

</style>
