<template>
  <div id="content">
    <div v-if="search.query === '' || search.query === null">
      <span class="uk-alert uk-alert-danger">No Query Provieded!</span>
    </div>
    <div v-else>
    <h1>Search Results for "{{search.query}}":</h1>
      <div class="uk-text-center" v-if="search.results.length === 0 ">
        <span class="uk-align-center uk-alert uk-alert-danger">No Result Found!</span>
      </div>
      <div v-else>
        <div v-for="result in search.results" :key="result.id">
          <img :src="result.thumb" :alt="result.name" class="project-thumb">
          <h3>{{result.name}}</h3>
          <p>{{result.content}}</p>
          <router-link :to="'#' + result.id">Read more</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Search',
  data () {
    return {
      search: {
        query: this.$route.params.query,
        results: []
      }
    }
  },
  methods: {
    searchQuery: function (query) {
      axios.get('https://jsonplaceholder.typicode.com/posts').then(
        (response) => {
          for (let fakePost of response.data) {
            if (fakePost.title.includes(this.search.query) || fakePost.body.includes(this.search.query)) {
              this.search.results.push({
                id: fakePost.id,
                name: fakePost.title,
                content: fakePost.body,
                thumbnail: `https://picsum.photos/200/200/?image=${fakePost.id}`
              })
            }
          }
        }
      )
    }
  },
  created () {
    this.searchQuery(this.search.query)
  }
}
</script>

<style scoped>

</style>
