<template>
  <div>
    <img class="img-top" :src="post.thumbnail" :alt="post.name">
    <div id="content">
      <h1>{{ post.name }}</h1>
      <article>{{ post.content }}</article>
      <div id="meta">
        <h3>Post Meta!</h3>
        <ul>
          <li>Post by: {{post.writer}}</li>
          <li>Published at: {{post.publishDate}}</li>
          <li>Tags:
            <ul>
              <li v-for="tag in post.tags" :key="tag">{{tag}}</li>
            </ul>
          </li>
        </ul>
      </div>
      <div>
        <h2>Related Posts</h2>
        <div class="uk-child-width-1-3 uk-text-center" uk-grid>
          <div><img src="https://picsum.photos/200/200/?random" alt="" class="project-thumb"></div>
          <div><img src="https://picsum.photos/200/200/?random" alt="" class="project-thumb"></div>
          <div><img src="https://picsum.photos/200/200/?random" alt="" class="project-thumb"></div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'SinglePost',
  data () {
    return {
      post: {
        id: null,
        name: '',
        content: '',
        thumbnail: '',
        tags: [],
        writer: '',
        publishDate: new Date(1999, 6, 19)
      }
    }
  },
  methods: {
    loadPost: function () {
      axios.get(`https://jsonplaceholder.typicode.com/posts/${this.$route.params.id}`)
        .then((response) => {
          this.post.id = this.$route.params.id
          this.post.name = response.data.title
          this.post.content = response.data.body
          this.post.thumbnail = `https://picsum.photos/960/700/?image=${this.$route.params.id}`
          this.post.tags = ['Programming', 'Logic']
          this.post.writer = 'Alireza Ayinmehr'
          this.post.publishDate = new Date()
        })
    }
  },
  created () {
    this.loadPost()
  }
}
</script>

<style scoped>
  #meta {
    background: #ccc;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
  }
  #meta > ul {
    margin: 0;
    list-style: none;
  }
</style>
