<template>
  <div id="menu" class="uk-text-center">
    <div id="realSideBar">
      <strong class="sidebar-title">Alireza Ayinmehr</strong>
      <img src="@/assets/alireza.jpg" style="border-radius: 50%;" alt="Alireza">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt dicta, dolore expedita ipsam
        maxime minima mollitia porro praesentium. Consectetur eius explicabo incidunt ipsum necessitatibus perferendis
        quas quia ratione voluptatum!</p>
      <div>
        <ul class="uk-nav uk-text-left uk-margin-large-left">
          <li class="uk-active">
            <router-link :to="{name: 'Home'}"><span uk-icon="home"></span> Home</router-link>
          </li>
          <li>
            <router-link :to="{name: 'Projects'}"><span uk-icon="code"></span> Projects</router-link>
          </li>
          <li>
            <router-link :to="{name: 'Blog'}"><span uk-icon="file-edit"></span> Blog</router-link>
          </li>
          <li>
            <router-link :to="{name: 'Contact'}"><span uk-icon="receiver"></span> Contact</router-link>
          </li>
        </ul>
        <h3>What I Did Lately</h3>
        <ul class="uk-text-left" v-if="this.posts.length > 0">
          <li v-for="post in posts" :key="post.name">{{ post.name }}</li>
        </ul>
        <span v-else>Nothing.. :D</span>
        <form action="#" class="uk-search uk-search-navbar">
          <span uk-search-icon></span>
          <input type="search" placeholder="Search..!?" class="uk-search-input">
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sidebarMenu',
  data () {
    return {
      posts: [
        {name: 'Hello World'},
        {name: 'Hello Universe'},
        {name: 'Im a God!'},
        {name: 'Why Design is Important?'},
        {name: 'What is Flask!?'}
      ]
    }
  }
}
</script>

<style scoped>
  #menu {
    background-color: #F6F6F6;
    border-radius: inherit;
    text-align: center;
    padding: 50px 10px;
    margin: 0 25px 0 0;
  }

  .sidebar-title {
    font-size: 2rem;
    font-weight: bolder;
  }

  #realSideBar {
    position: -webkit-sticky;
    position: sticky;
    top: -485px;
  }
</style>
