/* eslint-disable */
<template>
  <div id="app" class="uk-margin-large-top uk-margin-small-bottom" uk-grid>
    <sidebar-menu class="uk-width-1-3@l uk-width-1-4@m uk-visible@m"></sidebar-menu>
    <div class="uk-width-expand my-container">
      <router-view/>
    </div>
  </div>
</template>

<script>
import UIKit from 'uikit'
import UiKitCSS from 'uikit/dist/css/uikit.css'
import Icons from 'uikit/dist/js/uikit-icons'
import sidebarMenu from '@/components/inc/sidebarMenu'

UIKit.use(Icons)
export default {
  name: 'App',
  components: {
    'sidebar-menu': sidebarMenu
  }
}
</script>

<style>
  html, body {
    background: linear-gradient(-135deg, #65267c, #3926a0) no-repeat;
    background-size: 100%;
    margin: 0;
    height: 100%;
    overflow-y: auto;
  }
  body {
    padding: 0 5px;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin: 0 auto;
    max-width: 960px;
    background-color: transparent;
    border-radius: 10px;
  }

  img {
    background: linear-gradient(45deg, #912658, #bd2634);
  }

  .img-top {
    border-radius: 10px 10px 0 0;
  }
  .my-container {
    background-color: #F1F1F1;
    border-radius: inherit;
    padding: 0;
  }
  .project-thumb {
    width: 100%;
    height: auto;
    max-width: 144px;
    border-radius: 15px;
  }
  #content {
    padding: 30px;
  }
</style>
